@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 830px;
  padding: 180px;
  padding-top: 160px;
  padding-right: 300px;
  background-image: url("./images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
}
main .logo {
  position: absolute;
  top: 60px;
}
main h1 {
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 110%;
  font-size: 4em;
  color: #413a3a;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}
main h1 span {
  color: #ce9797;
  font-weight: 300;
}
main p {
  color: #ce9797;
  line-height: 150%;
  margin-right: -75px;
  margin-bottom: 25px;
  font-weight: 400;
}
main form {
  margin-top: 20px;
}
main form .email {
  color: #413a3a;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 500px;
  padding: 19px;
  padding-left: 30px;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
}
main form .email::placeholder {
  color: #ce9797;
}
main form .email:focus {
  border: 1px solid rgba(206, 151, 151, 0.5);
  outline: none;
}
main form .email-err {
  padding: 18px;
  padding-left: 30px;
  border: 2px solid #f96262;
  background: top 12px left 320px no-repeat url("./images/icon-error.svg");
}
main form .err {
  color: #f96262;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  top: -45px;
  left: 30px;
}
main form .submit {
  position: relative;
  top: -53px;
  left: 95%;
  width: 93px;
  height: 53px;
  padding: 19px 23px;
  border-radius: 500px;
  border: none;
  background: top 16px left 42px no-repeat url("./images/icon-arrow.svg"), center no-repeat linear-gradient(135deg, #f8bfbf, #ee8c8c), #ffd6d6;
  box-shadow: 0 12px 30px -10px #ce9797;
  transition: background 0.3s, box-shadow 0.3s;
}
main form .submit:hover {
  background: top 16px left 42px no-repeat url("./images/icon-arrow.svg"), #ffd6d6;
  cursor: pointer;
  box-shadow: 0 15px 30px 0 #ce9797;
}
main form .submit:enabled {
  outline: none;
}

.girl {
  background-image: url("./images/hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
}

.invis {
  visibility: hidden;
}

@media screen and (max-width: 375px) {
  body {
    flex-direction: column-reverse;
    justify-content: center;
    background: snow;
  }

  main {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
    text-align: center;
    background: none;
  }
  main .logo {
    top: 25px;
    left: 5px;
    transform: scale(0.7, 0.7);
  }
  main h1 {
    font-size: 2.5em;
    letter-spacing: 10px;
    margin: 50px;
    margin-bottom: 15px;
  }
  main p {
    margin: 0 26px;
    font-size: 15px;
  }
  main form {
    padding-bottom: 50px;
  }
  main form .email {
    width: 60vw;
    margin: 0 20px;
  }
  main form .err {
    left: -15px;
  }
  main form .submit {
    top: -53px;
    left: 108px;
    width: 70px;
    background: top 16px left 32px no-repeat url("./images/icon-arrow.svg"), center no-repeat linear-gradient(135deg, #f8bfbf, #ee8c8c), #ffd6d6;
  }
  main form .submit:hover {
    background: top 16px left 32px no-repeat url("./images/icon-arrow.svg"), #ffd6d6;
  }

  .girl {
    background-image: url("./images/hero-mobile.jpg");
    max-height: 250px;
    min-height: 250px;
    background-size: contain;
    margin-top: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
